<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.ligadosgames.com/melhores-campeoes-lol/#anchor-jungle/">Junglers</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.ligadosgames.com/melhores-campeoes-lol/#anchor-top">Tops</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.ligadosgames.com/melhores-campeoes-lol/#anchor-mid">Mids</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.ligadosgames.com/melhores-campeoes-lol/#anchor-mid">Adcs</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.ligadosgames.com/melhores-campeoes-lol/#anchor-mid">Suports</a></li>
    
  </ul>
</div>
